@import "variables.less";

h1 {
    .h1-style();
}

h2 {
    .h2-style();
}

p {
    .text-style();
}



header {
    nav {
        background-color: @green;

        .nav {
            align-items: flex-end;
            
            .nav-link {
                color: @black;
                .nav-style();
            }
        }

        ul .nav .justify-content-center {
            display: flex;
            align-items: flex-end;
        }

        img {
            width: 350px;
        }
    }
}

.legacy {
    .img-fluid {
    .hero-image();
}

    .container-fluid {
        .content {
            width: 80%;
            margin: 0 auto;
        }

        .row{
            img {
                width: 500px;
            }

            li {
                .text-style();
            }

            button {
                .btn-primary();
                .btn();
            }

            button:hover {
                .btn-primary-hover();
            }
        }
    } 
    .container2 {
        background-color: @black;
        color: @white;
    }
}

footer {
    background-color: @green;

    .row {
        justify-content: center;

        a {
            .small-text-style();
            color: @black;
            text-decoration: none;
            font-weight: 600;
        }
    }

    .socialicons {
        display: flex;
        justify-content: space-evenly;

        a {
            color: @black;
        }
    }
}


// about page styling
.about-main {
    max-width: 90vw;
    margin: auto;
    padding: 4% 0;

    p {
        padding: 3% 0;
    }

    .card {
        border-radius: 0.1rem;
    }
}

// coffee page styling
.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    .site-content {
        flex: 1;
    }
}