@import "variables.less";

h1 {
    .h1-style();
}

p {
    .text-style();
}



header {
    nav {
        background-color: @green;

        .nav {
            align-items: flex-end;
            
            .nav-link {
                color: @black;
                .nav-style();
            }
        }

        ul .nav .justify-content-center {
            display: flex;
            align-items: flex-end;

            li {
            }
        }

        img {
            width: 350px;
        }
    }
}

.legacy {
    .img-fluid {
    .hero-image();
}

    .container-fluid {
        .content {
            width: 80%;
            margin: 0 auto;
        }

        .row{
            img {
                width: 500px;
            }
            button {
                .btn-primary();
                .btn();
            }

            button:hover {
                .btn-primary-hover();
            }
        }
    } 
    .container2 {
        background-color: @black;
        color: @white;
    }
}

footer {
    background-color: @green;

    .row {
        justify-content: center;

        a {
            .small-text-style();
            color: @black;
            text-decoration: none;
            font-weight: 600;
        }
    }

    .socialicons {
        display: flex;
        justify-content: space-evenly;

        a {
            color: @black;
        }
    }
}