@import "variables.less";

h1 {
    .h1-style();
}

h2 {
    .h2-style();
}

h3 {
    .h3-style();
}

h4 {
    .h4-style();
}

h5 {
    .h5-style();
}

p {
    .text-style();
}

.logo-hide {
    display: none;
}

.nav-tabs {
    .nav-tabs();
}

// tavern page styling

.tavern {
    .card {
        p {
            font-size: 14px;
            list-style-type: none;
        }
    }
}

.menu-item {
p {
    font-size: 0.9rem;
    color: @lightorange;
    }
}

header {
    display: flex;
    background-color: @green;
    justify-content: space-between;

    .mobile-logo {
        margin: 0 auto;
    }

    nav {
        background-color: @green;

        .nav-link {
             color: @black;
             .nav-style();
         }
        
    }
            img {
            width: 350px;
        }
    }

        @media (min-width: 992px) {
            header {
                display: block;
                margin: 0 auto;
            }

            .logo-hide {
                display: block;
            }

            .navbar-expand-lg .navbar-collapse {
                display: flex!important;
                flex-basis: auto;
                justify-content: center;
                }

                .navbar-nav {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }

                .nav-item {
                    padding: 0 30px;
                }

                .mobile-logo a {
                    display: none;
            }
        }


.legacy {
    .img-fluid {
    .hero-image();
}

    .container-fluid {

        .row{
            img {
                width: 500px;
            }

            li {
                .text-style();
            }

            button {
                .btn-primary();
                .btn();
            }

            button:hover {
                .btn-primary-hover();
            }
        }
    } 
    .container2 {
        background-color: @black;
        color: @white;
    }

    @media (min-width: 992px) {
        .content {
            width: 80%;
            margin: 0 auto;
        }
    }
}

footer {
    background-color: @green;

    .row {
        justify-content: center;

        a {
            .small-text-style();
            color: @black;
            text-decoration: none;
            font-weight: 600;
        }
    }

    .socialicons {
        display: flex;
        justify-content: space-evenly;

        a {
            color: @black;
        }
    }

    @media (min-width: 992px) {
       .footer-links {
           display: flex;
       }
    }
}

// home page styling

.home {
    background: rgb(30,30,33);
    background: linear-gradient(137deg, rgba(30,30,33,1) 0%, rgba(30,30,33,1) 35%, rgba(0,0,0,1) 100%);
    color: @white;

    img {
        width: 500px;
    }
    
    h3 {
        color: @orange;
    }
    
    p {
        max-width: 80%;
        margin: 0 auto;
    }

    .img1 {
        object-position: bottom;
    }

    .img3 {
        object-position: top;
    }

    .img-carousel {
        .img-carousel();
    }
    
    .card-container {
        flex-direction: column;
        align-items: center;
    
        .card {
            .card();
    
            a {
                color: @white;
                text-decoration: none;
            }

            .card-title {
                text-shadow: 2px 2px 10px black;
            }

            .card-img {
                .card-img();
            }
        }
    }
    @media (min-width: 992px) {
    .card-container {
        flex-direction: row;
        justify-content: center;
        }
    }
}


// about page styling

.about {
    .img-fluid {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: bottom;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        width: 80%;
        margin: 0 auto;
    }

    .container-fluid {
        flex-direction: column;
        align-items: center;

    .card {
        width: 100%;
        height: 300px;
        border: 2px @white solid;

        .card-header {
            .h5-style();
        }
        a {
            color: white;
            text-decoration: none;
        }
        }
    }
    @media (min-width: 992px) {
        .container-fluid {
            flex-direction: row;
            justify-content: space-evenly;
        }
     }
}


// coffee page styling
.coffee {
    .card {
        .card();
        .card-img {
            .card-img();
        }
    }

    .coffee-menu {
        button {
            img {
                width: 50px;
            }
        }

        .nav-tabs {
            .nav-link {
                border-radius: 0;
                color: @green;
                .nav-tabs();
            }

            .nav-link.active {
                background-color: @green;
                color: @white;
            }
        }
    }

    .pane-container {
        flex-direction: column;
    }

    .tab-pane {
        background-color: @black;
        width: 600px;
        margin: 0 auto;

        .menu-item {
            h4 {
            color: @white;
            }
        }

        .menu-item {
            p {
                font-size: 1rem;
                color: @lightorange;
                width: 80%;
            }
        }
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        .card-bottom {
            .card-img {
                width: 100%;
            }
        }
    }

    @media (min-width: 992px) {
        .tab-pane {
            width: 1000px;
        }

        .pane-container {
            flex-direction: row;
        }

        .card-container {
            flex-direction: row;
            justify-content: center;
        }
    }
}

