.h1-style {
    font-family: 'Millesime', serif; 
    font-size: 5rem;
    font-weight: 900;
}

.h2-style {
    font-family: 'Millesime', serif; 
    font-size: 2.3rem;
    font-weight: 900;
}

.nav-style {
    font-family: 'Millesime', serif; 
    font-size: 1.3rem;
    font-weight: 900;
}

.text-style {
    font-family: 'Good Pro', sans-serif; 
    font-size: 1.3rem;
    font-weight: 400;
}

.small-text-style {
    font-family: 'Good Pro', sans-serif; 
    font-size: 1rem;
    font-weight: 400;
}


@green: #647850;
@orange: #bc552e;
@brown: #48190a;
@white: #f0f0f0;
@black: #1e1e21;

.hero-image {
    width: 100vw;
    height: 700px;
    object-fit: cover;
    object-position: center;
}

.btn {
    font-family: 'Good Pro', sans-serif; 
    font-size: 1rem;
    font-weight: 600;
    padding: 1.5% 3%;
}

.btn-primary {
    background-color: @green;
    border: none;
    font-weight: 400;  
    color:@black;
}

.btn-primary-hover {
    background-color: @white;
    border: 2px solid @green;
}